  
  .overlay__container {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  
  .overlay__controls {
    display: flex;
    align-items: center;
  }
  
  .overlay__close:after {
    display: inline-block;
    content: "\00d7";
  }
  
  .overlay__close {
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
  }

  .overlay{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    cursor:pointer;

  }

  .overlay__text{
    margin-right: 230px;
    font-weight: 500;
  }

  .overlay__content{
    text-align: center;
  }

  .overlay__content img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
  }

  .overlay__header{
    display: flex;
    align-items: center;
  }
  
  .overlay__download{
    text-align: left;
    white-space: normal;
    align-items: center;
    display: flex;
  }

  .overlay__download span{
    display: block;
    margin-bottom: 10px;
  }

  .download-button1{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: plum;
    color: white;
    cursor: pointer;
    transition: white 0.3s;
    margin-left: 25px;
  }

  .download-button1:hover{
    background-color: lightpink;
  }
